.App {
  background-color: #3b4a51;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'louis-george-cafe';
}

.test {
  color: black;
}