#App {
  background-color: #3b4a51;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  font-family: 'louis-george-cafe';
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#AppHeader {
  position: static;
}

#AppBody {
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
}
.error-message{
  color:red;
  display: block;
  font-size:.5em;
}