#Navbar{
    background: linear-gradient(to right, #668ac0 20%, #5cb3d9 100% );
}

#WelcomeNavbar {
  position: absolute;
  background-color: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3em;
}
  
.navLogo{
  position: relative;
  width: 20%;
  height: 20%;
}

#welcomeLogo {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: 'louis-george-cafe-bold';
  margin-top: 1em;
}

.NavbarCollapse {
  position: absolute;
  right: 16px;
}

#RoutesContainer {
  display: flex;
}

.Link {
  margin-top: 0.2em;
  margin-right: 1em;
}

.LinkText {
  color: white;
  font-size: 20px;
}

#ProfileDropdownContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 9em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

#ProfilePicture {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

#NavbarUsername {
  font-size: 1em;
  color: white;
}

.DropdownMenu {
  background-color: white;
}

.DropdownItem {
  color: black;
  font-size: 1.2em;
}

.DropdownItem:hover {
  background: linear-gradient(to right, #668ac0 20%, #5cb3d9 100% );
}

.ItemTitle:hover {
  color: white;
}