.CardDeckContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  @media (orientation: landscape) {
    .Card {
      width: 30vmax;
      height: 40vmax;
    }

    @media (max-width: 915px) {
      .Card {
        width: 25vmax;
        height: 35vmax;
      }
    }
  }
  
  @media (orientation: portrait) {
    .Card {
      width: 30vmax;
      height: 40vmax;
    }
  }