.Container{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.refreshButton {
    width: 125px;
    color:rgb(109, 107, 107) !important;
    background-color: white !important;
    border-color: aqua;
}