#FavoriteDetailsContainer {
    height: 100%;
    width: 100%;
}

.favoriteModal{
    text-align: center;
}


.modalInfo{
    text-align: center;
    vertical-align: text-top;
    font-size: 24px;
}

.modalCloseButton{
    vertical-align: text-top;
}

.modalInfoButton{
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.modalImage{
    height: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
