#FavoriteDetailsContainer {
    height: 100%;
    width: 100%;
}

.favoriteModal{
    text-align: center;
}

#ModalHeader {
    padding: 0 !important;
    margin: 0 !important;
    height: 20em !important;
    width: 31.2em !important;
    overflow: hidden;
}

.ModalImageContainer {
    height: 100%;
    width: 100%;
    align-self: center;
}

.modalImage{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#TitleBox {
    display: flex;
    justify-content: space-between;
    margin: 0px 1em auto;
}

#ModalTitle {
    overflow-x: auto;
}

#TitleText {
    align-self: center;
    font-weight: bold;
}

#ModalBody {
    height: 17em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 6px;
}


.ModalInfo{
    text-align: left;
    width: 100%;
    height: 100%;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Rating {
    color: var(--secondaryColor) !important;
    padding-top: 0.5%;
}

.DetailsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background-color: var(--backgroundColor);
    margin-top: 1em;
}

.InfoBox {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.InfoLabel {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    width: 5em;
}

.InfoDetail {
    color: white;
    font-size: 1.1em;
}

.ModalCloseButton{
    position: absolute;
    top: -1.5em;
    right: -2em;
    width: 2em;
    height: 2em;
    background-color: transparent;
    border: none;
}

.CloseButtonImage {
    width: 100%;
    height: 70%;
    background-color: white;
    -webkit-mask-box-image: url("https://cdn.discordapp.com/attachments/1070131505743016087/1104985006323011624/thex.png");
}

.CloseButtonImage:hover {
    background-color: red;
}

.ModalInfoButton{
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.ModalInfoButton:hover {
    background-color: black;
    opacity: 0.5;
}

.ClipboardIcon{
    color: white;
}

.ClipboardIcon:hover{
    color: #668ac0;
}

.urlBox{
    width:80%;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    color: white;
}
.urlBox::-webkit-scrollbar  {
    background-color: #3b4a51;
    width: 0.7em;
    background: transparent;
  }

  .urlBox::-webkit-scrollbar-thumb:horizontal {
    border-radius: 10px;
    background-color: #668ac0;
  }

  .urlDiv{
      display:flex;
      justify-content: space-evenly;
      align-items: center;
      margin-right: 1em;
    
  }