
  .FavoriteImages {
    border-radius: 15px;
  }
  .FavoriteTitle {
    text-align: center;
    color: orange;
    font-size: 40px;
    font-weight: bold;
  }

  .FavoriteTable {
    color: black;
    border-collapse: separate;
    border-spacing: 8px 8px;
  }
  
  #CategoryName {
    font-weight: 600;
    font-size: 25px;
    color: orange;
  }

  .FavoriteHangoutContainer {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 100%;
    height: auto;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-x: scroll;
  }

  .FavoriteCard {
    display: inline-block;
    margin-right: 24px;
  }

  img:hover{
    filter: brightness(50%);

  }
  th, td {
    padding: 15px;
  }

  td {
    max-width: 20vw;
    max-height: 50vh;
  }


  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track-piece  {
    background-color: white;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    border-radius: 10px;
    background-color: orange;
  }