#HangoutDetailsContainer {
    height: 100%;
    width: 100%;
}

.favoriteModal{
    text-align: center;
}

/* MARK: - Header */
#ModalHeader {
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    background-color: var(--backgroundColor);
    border-bottom: 0 none !important;
}

.HeaderContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#ModalTitle {
    text-align: center;
}

#TitleText {
    font-size: 1.5em;
    color: white;
}

.RatingContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Rating {
    color: var(--secondaryColor) !important;
    margin-left: 1vmax;
}

.LikesContainer {
    border: 1px solid white;
    border-radius: 0.25vmax;
    padding: 0px 8px;
    color: white;
    margin-right: 1vmax;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vmax;
}

/* MARK: - Body */

#ModalBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 !important;
    margin: 0 !important;
    background-color: var(--backgroundColor);
    padding-top: 1vmax !important; 
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-bottom: 1vmax !important;
    gap: 1vmax;
}

.LeftContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.RightContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.ModalImageContainer {
    height: 14.25vmax;
    height: 30vh;
    width: 100%;
    align-self: center;
}

.ModalImage{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}


.DetailsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
    background-color: var(--backgroundColor);
}

.InfoBox {
    display: flex;
    flex-direction: column;
}

.InfoLabel {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    width: 5em;
}

.InfoDetail {
    color: white;
    font-size: 1.1em;
}

.ModalCloseButton{
    position: absolute;
    top: -1.5em;
    right: -2em;
    width: 2em;
    height: 2em;
    background-color: transparent;
    border: none;
}

.CloseButtonImage {
    width: 100%;
    height: 70%;
    background-color: white;
    -webkit-mask-box-image: url("https://cdn.discordapp.com/attachments/1070131505743016087/1104985006323011624/thex.png");
}

.CloseButtonImage:hover {
    background-color: red;
}

.ModalInfoButton{
    background-color: transparent;
    height: 100%;
    width: 100%;
    border: transparent;
}

.ModalInfoButton:hover {
    background-color: black;
    opacity: 0.5;
}

/* MARK: - Footer */

#ModalFooter {
    background-color: var(--backgroundColor);
    border-top: 0 none !important;
}

.ClipboardIcon{
    color: white;
}

.ClipboardIcon:hover{
    color: #668ac0;
}

.urlBox{
    width: 80%;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    color: white;
}
.urlBox::-webkit-scrollbar  {
    background-color: #3b4a51;
    width: 0.7em;
    height: 0.45em;
    background: transparent;
  }

  .urlBox::-webkit-scrollbar-thumb:horizontal {
    border-radius: 10px;
    background-color: #668ac0;
  }

  .urlDiv{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1em;
    width: 100%;
    height: 100%;
  }

  @media(orientation: landscape) {
    @media(max-width: 915px) {
        #TitleText {
            font-size: 1em;
        }

        .ModalImageContainer {
            height: 30vh;
        }

        .InfoLabel {
            font-size: 0.7em;
            width: 5em;
        }
        
        .InfoDetail {
            font-size: 0.7em;
        }

        .urlBox {
            font-size: 0.7em;
        }
    }
  }

  @media(orientation: portrait) {

    #TitleText {
        font-size: 1.15em;
    }

    .InfoLabel {
        font-size: 0.85em;
        width: 5em;
    }
    
    .InfoDetail {
        font-size: 0.85em;
    }

    .urlBox {
        font-size: 0.8em;
    }
  }