.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .LoginContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
  }
  
  .LoginTextBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
  }
  
  .LoginButton {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
  }

  .GoogleSignInButton {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: #4285f4;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .LoginText {
    color: black;
  }
  
  .LoginLink {
    color: blue;
  }
  
  .LoginDiv {
    margin-top: 7px;
  }  