@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

.login {
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LoginContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #222;
  max-width: 500px;
  min-width: 300px;
  width: 30%;
}

.InputFields {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.LoginTextBox {
  width: 80%;
  padding: 10px;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}


.LoginTextBox:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
  outline: none;
}

.LoginTextBox::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.LoginTextBox:hover::-webkit-input-placeholder,
.LoginTextBox:focus::-webkit-input-placeholder {
  opacity: 0;
}

.LoginButton {
  border-radius: 25px;
  width: 18vmax;
  height: 3.6vmax;
  max-width: 400px;
  max-height: 80px;
  font-size: min(1.8vmax, 1.5rem);
  color: white;
  font-weight: 700;
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background: linear-gradient(90deg, #233329 0%, #63D471 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  margin-bottom: 10px;
}

.LoginButton:hover {
  opacity: 0.8;
}


.GoogleSignInButton {
  position: relative;
  width: 18vmax;
  max-width: 400px;
  max-height: 80px;
  height: 3.6vmax;
  background-color: white;
  border-radius: 15px;
  border: none;
  padding: 0;
  margin-bottom: 10px;
  background-image: url('../../public/Images/btn_google_signin_light_normal_web2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.GoogleSignUpButton {
  position: relative;
  width: 18vmax;
  max-width: 400px;
  max-height: 80px;
  height: 3.6vmax;
  background-color: white;
  border-radius: 15px;
  border: none;
  padding: 0;
  margin-bottom: 10px;
  background-image: url('../../public/Images/signupbutton.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.GoogleSignInButton:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.GoogleSignInButton:active {
  background-color: #eeeeee;
}

.GoogleSignInButton:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}

.GoogleSignInButton:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.TextLogin {
  text-align: left;
  margin-top: 0.5rem;
  margin-left: 1.5em;
}

.ForgotPasswordWrapper {
  margin-bottom: 0.8em;
  text-align: left;
  margin-left: 1.5em;
  height: 2.2rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.LinkLogin {
  font-family: 'Work Sans', sans-serif;
  color: #1a4b73;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 1.1rem;
  font-weight: 500;
}

.LinkLogin:hover {
  color: black;
  text-decoration: underline;
}

.Separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  width: 100%;
}

.Separator::before,
.Separator::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #c4c4c4;
  margin: 0 10px;
}

.LoginTitle {
  text-align: left;
  width: 90%;
  padding-left: 1.5rem;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.8em;
}

.InputGroup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PasswordToggle {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  cursor: pointer;
}

.LoginPasswordBox {
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 80%;
  font-size: 1.3rem;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}
.LoginPasswordInput{
  box-sizing: border-box;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 1rem;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  border-radius: 0 0 0 5px;
}

#AppLogo {
  width: 10em;
  margin-top: 3em;
  margin-bottom: 0.5em;
  background-color: rgba(0, 0, 0, 0.05);
  pointer-events: none;
}

@media(orientation:landscape) {
  @media(max-width:915px) {
    .LoginContainer {
      width: 80%;
      padding: 1.1vh;
    }

    .LoginTextBox {
      font-size: 1rem;
      padding: 4px;
    }

    .LoginButton {
      margin-bottom: 5px;
    }

    .Separator {
      margin: 5px 0;
    }

    #AppLogo {
      width: 0em;
      margin-top: 0em;
      margin-bottom: 0em;
    }
  }

}