.Container {
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Map {
    height: 60%;
    width: 100%;
    border-radius: 5%;
    order: 1;
    overflow: hidden;
}

#MapDetailsContainer {
    height: 40%;
    width: 100%;
    background-color: var(--backgroundColor);
    color: white;
    overflow-y: scroll;
    order: 2;
}

#MapDetailsContainer::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

#MapDetailsContainer::-webkit-scrollbar-track-piece  {
    background-color: transparent;
}

#MapDetailsContainer::-webkit-scrollbar-thumb:vertical {
    border-radius: 10px;
    background-color: var(--primaryColor);
}

.TransitOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

li {
    position: relative;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 23px;
    list-style-type: "-";
}

.MapDuration {
    font-size: 1.4em;
    color: var(--secondaryColor);
    text-align: center;
}

.MapInstructions {
    font-size: 1em;
}

.WalkingButton {
    background: url('/public/Images/walking.png') no-repeat scroll 0 0;
    background-size: 60%;
    background-position: 10px center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0);
    filter: grayscale(100%) brightness(100%);
    border: none;
}

.WalkingButton:focus {
    filter: none;
}

.TransitButton {
    background: url('/public/Images/train.png') no-repeat scroll 0 0;
    background-size: 50%;
    background-position: 15px center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0);
    filter: grayscale(100%) brightness(100%);
    border: none;
}

.TransitButton:focus {
    filter: none;
}

.BicyclingButton {
    background: url('/public/Images/bicycle.png') no-repeat scroll 0 0;
    background-size: 60%;
    background-position: 15px center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0);
    filter: grayscale(100%) brightness(100%);
    border: none;
}

.BicyclingButton:focus {
    filter: none;
}

.DrivingButton {
    background: url('/public/Images/driving.png') no-repeat scroll 0 0;
    background-size: 50%;
    background-position: 15px center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0);
    filter: grayscale(100%) brightness(100%);
    border: none;
}

.DrivingButton:focus {
    filter: none;
}

@media(orientation: landscape) {
    @media(max-width: 915px) {
        .TransitOptions {
            gap: 0.2em;
        }    
    }
  }

  @media(orientation: portrait) {
    .TransitOptions {
        padding-top: 5px;
        padding-bottom: 5px;
        gap:0;
        width: fit-content;
        block-size: fit-content;
        padding: 0;
        justify-content: start;
    }
    .WalkingButton{
        background-size:50%;
        display: inline-block;
        padding: 0;
        width: 20%;
    }
    .BicyclingButton {
        background-size:50%;
        width: 20%;
    }
    .TransitButton{
        background-size:50%;
        display: inline-block;
        padding: 0;
        width: 20%;
    }
    .DrivingButton{
        background-size:50%;
        display: inline-block;
        padding: 0;
        width: 20%;
    }
    

  }