.PreferencesTitle{
    text-align: center;
    color: orange;
    font-size: 40px;
}

.PreferencesHeader{
    text-align: center;
    color: black;
    font-size: 32px;
}

.PreferencesButtons{
        text-align: center;
        height: 30px;
}
.PreferencesForms{
    color:black;
    font-size:medium;
    display: block;
    text-align: center;
}

.PreferencesSwitches{
    color:black;
    text-align: center;
    font-size:medium;
}

.customButton {
    width: 125px;
}