.PreferencesContainer {
    color: black;
    text-align: center;
}

.PreferencesTitle{
    text-align: center;
    color: orange;
    font-size: 40px;
}

.PreferencesHeader{
    text-align: center;
    color: black;
    font-size: 32px;
}

.PreferencesButtons{
        text-align: center;
        height: 30px;
}
.PreferencesForms{
    color:black;
    font-size:medium;
    display: block;
    text-align: center;
}

.PreferencesSwitches{
    color:black;
    text-align: center;
    font-size:medium;
}

.customButton {
    width: 125px;
}

.Text {
    padding: 16px 0px;
}

.SearchBar {
    position: relative;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
}

#LocationInput {
    border-right: none;
    border-radius: 8px 0px 0px 8px;
    height: 35px;
    width: 25vw;
}

#RegionInput {
    border-left: black solid 2px;
    border-right: none;
    border-radius: 0px 0px 0px 0px;
    height: 35px;
    width: 8vw;
}

#LocationInput:focus {
    outline: none !important;
}

#RegionInput:focus {
    outline: none !important;
}

#SearchButton {
    border-top: black 2px solid;
    border-left: none;
    border-radius: 0px 8px 8px 0px;
    background-color: transparent;
    background: url('../../public/Images/search_icon.png') no-repeat center transparent;
    background-size: cover;
    width: 45px;
    height: 35px;
}

.SaveButton {
    padding: 12px 16px;
    font-weight: bold;
    background-color: black;
    color: white;
}

.SaveButton:hover{
    background-color: orange;
}

#check {
    fill: none;
    stroke: orange;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-dasharray: 300;
    stroke-dashoffset: 270;
    animation: draw 2s ease;
  }
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  #ShowShadowLayer {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0);
    opacity: 0.5;
    z-index: 1000;
  }

  #HideShadowLayer {
    flex: 1;
  }

  #PopoverContainer{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    opacity: 1;
    background-color: white;
    width: 30%;
    height: 40%;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  #PopoverTitle {
    position: relative;
    top: 8%;
    font-size: 30px;
    font-weight: 600;
  }

  #CheckmarkContainer {
    position: relative;
    height: 80%;
  }