:root {
  --border-color: #eaeaea;
  --text-color: white;
  --background-color: #fff;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --font-family: 'louis-george-cafe';
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  height: 100%;
  width: 100%;
  margin-bottom: 1em;
}

.profile-container button, .profile-container input, .profile-container label {
  height: 2em;
}

#PageTitle {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  height: 10%;
}

#FlexContainer {
  display: flex;
  width: 90%;
  height: 90%;
  justify-content: space-between;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#LeftContainer {
  color: black;
  width: 35%;
  margin-left: 5em;
  height: 100%;
}

#RightContainer {
  margin-right: 5em;
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5em;
  overflow-y: scroll;
  padding-right: 1em;
}

#RightContainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#RightContainer::-webkit-scrollbar-track-piece {
  background-color: white;
}

#RightContainer::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  background: linear-gradient(to right, #668ac0 20%, #5cb3d9 100% );
}

/* Left Container */

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background: var(--background-color);
  height: 100%;
}

.UserInfoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#ProfileImage {
  height: 70%;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  border-bottom: none;
}

#Username {
  font-family: 'louis-george-cafe';
  font-size: 1.8em;
  font-weight: bold;
  position: relative;
  top: -6%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 0px 0px 10px 10px;
  overflow-x: auto;
  overflow-y: hidden;
  height: 1.6em;
}

#Username::-webkit-scrollbar {
  height: 0px;
  width: 0px; 
  background: transparent;
  }

#UserDetailsBox {
  height: 20%;
  text-align: left;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  position: relative;
  bottom: 2.5%;
}

#Location {
  font-size: 1.1em;
  font-weight: 600;
}

#Email {
  font-size: 1.1em;
  font-weight: 600;
}

/* Right Container */

#RightContainerHeader {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

#RightHeaderTitle {
  font-size: 1.5em;
  color: white;
  font-weight: 700;
  text-align: center;
}

#RightHeaderIcon {
}

#EditFormsBox {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.RightContainerCell {
  border-radius: 10px;
  height: 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.RightContainerCellGoogle {
  border-radius: 10px;
  height: 5em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.EditFormHeader {
  background-color: white;
  color: black;
  border-bottom: 1px solid #C7C7CD;
  font-size: 1em;
  font-weight: 600;
  padding-left: 1em;
  border-radius: 10px 10px 0px 0px;
  height: 2em;
  display: flex;
  align-items: center;
}

/* Upload Image */

#UploadImageContainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 0px 0px 10px 10px;
  height: 70%;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.CustomFileButton {
  color: black;
  border: 1px #ccc solid;
  font-size: 0.8em;
  padding: 0px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.CustomFileButton:hover {
  background: linear-gradient(to right, #668ac0 20%, #5cb3d9 100% );
  color: white;
}

#UploadFileIcon {
  margin-right: 8px;
}

#ChooseFileButton {
  display: none;
}

#FileName {
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  text-align: center;
  font-size: 0.8em;
}

#UploadFileButton {
  border-radius: 10px;
  border: 1px #ccc solid;
  background-color: white;
  font-size: 0.8em;
}

#UploadFileButton:hover {
  background: linear-gradient(to right, #668ac0 20%, #5cb3d9 100% );
  color: white;
}

/* Update Username */

#UpdateUsernameContainer {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  font-size: 0.8em;
  height: 70%;
  padding-top: 1em;
}

#UpdateBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}

.UsernameInput {
  border: 1px #ccc solid;
  border-radius: 10px;
}

.UsernameButton {
  border-radius: 10px;
  border: 1px #ccc solid;
  background-color: white;
}

.UsernameButton:hover {
  background: linear-gradient(to right, #668ac0 20%, #5cb3d9 100% );
  color: white;
}

/* Update Password */

#UpdatePasswordContainer {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  font-size: 0.8em;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  padding-top: 1em;
}

#CurrentPasswordBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#NewPasswordBox  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 1em;
}

.CurrentPasswordInput {
  width: 45%;
}

.NewPasswordInput {
  width: 45%;
}

#ResetPasswordBox {
  display: flex;
  justify-content: center;
}

#ResetPasswordButton {
  width: 45%;
  border: 1px #ccc solid;
  border-radius: 10px;
  background-color: white;
}

#ResetPasswordButton:hover {
  background: linear-gradient(to right, #668ac0 20%, #5cb3d9 100% );
  color: white;
}

.ErrorBox {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1em;
  text-align: center;
}

