.Container {
    color: #000000;
    border: 0.5px black solid;
    width: 60vh;
    height: 70vh;
    top: 10vh;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    margin: auto;
}

.DetailContainer {
    position: relative;
    top: 20vh;
    z-index: 1;
}

#Title {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, -8px);
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    color: white;
    white-space: nowrap;
}

#Image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

}

#Location {
    position: absolute;
    bottom: 6vh;
    color: white;
    left: 2vh;
}

#Distance {
    position: absolute;
    color: white;
    bottom: 2vh;
    left: 2vh;
}